.vscode

__pycache__

test_img
*.tif
*.tif.aux.xml
*.tif.ovr
*.tif.enp
*.tiff
*.tiff.aux.xml
*.tiff.ovr
*.tiff.enp
*.jpg

test.py

output_model
*.pdparams
*.pdopt

output_infer

log
*.log

# pypi
dist
ppcd.egg-info
build
whl
*. whl